# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# VS Code
.vscode/
.qodo/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env.local

# Vector database
data/vectorstore/
data/

# Large documents
*.pdf
*.docx
*.xlsx
.qodo

run